@model matissa.Models.Compra

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/producto.css" asp-append-version="true" />
<script src="~/js/producto.js" asp-append-version="true"></script>


<div class="container-fluid titulo-proveedor" id="ocultar">
    <div class="row">
        <div class="col">
            <h1>Crear compra</h1>
        </div>
    </div>
</div>
<div class="container text-center texto-quicksand">
    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <label asp-for="Descripción" class="control-label"></label><br />
                    <input asp-for="Descripción" class="rounded-pill form-control text-center form-control border border-1 border-dark" />
                    <span asp-validation-for="Descripción" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Factura" class="control-label"></label><br />
                    <input asp-for="Factura" class="rounded-pill form-control text-center form-control border border-1 border-dark" />
                    <span asp-validation-for="Factura" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-none">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" value="1" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="row justify-content-center botones align-items-center">
                <div class="col text-end">
                    <a asp-action="Index" class="boton-cancelar rounded-pill">Cancelar</a>
                </div>
                <div class="col text-start">
                    <input type="submit" value="Continuar" class="boton-aceptar rounded-pill" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
