@model Matissa.Models.Servicio

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/citas/create.css">
<div class="container-fluid titulo-citas">
    <div class="row">
        <div class="col-12">
            <h1>Crear servicio</h1>
        </div>
    </div>
</div>
<div class="row">
    <form asp-action="Create">
        <div class="col-md-4">
       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdServicio" class="control-label"></label>
                <input asp-for="IdServicio" class="form-control rounded-pill custom-input" />
                <span asp-validation-for="IdServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreServicio" class="control-label"></label>
                <input asp-for="NombreServicio" class="form-control rounded-pill custom-input" />
                <span asp-validation-for="NombreServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripción" class="control-label"></label>
                <input asp-for="Descripción" class="form-control rounded-pill custom-input" />
                <span asp-validation-for="Descripción" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duración" class="control-label"></label>
                <input asp-for="Duración" class="form-control rounded-pill custom-input" />
                <span asp-validation-for="Duración" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control rounded-pill custom-input" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control rounded-pill custom-input" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoServicio" class="control-label"></label>
                <select asp-for="IdTipoServicio" class="form-control rounded-pill custom-input" asp-items="ViewBag.IdTipoServicio"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
